*

!.gitignore
!README.md
!setup.py
!example.py
!boris_johnson.jpg

!fig/
!fig/plot.jpg

!tests/
!tests/test_tps.py

!thinplatespline/
!thinplatespline/tps.py
!thinplatespline/utils.py
!thinplatespline/batch.py
